In [101]:
import pandas as pd
from wits_consumer import WitsConsumer

In [ ]:
wc = WitsConsumer()
country_codes = wc.get_list_iso3codes()
# country_codes

## Now HHI for production

In [137]:
df_production = pd.read_csv("../../data/Production_one_file.csv")

In [138]:
df_production["Country"] = df_production["Country"].str.upper()
df_production["Product"] = df_production["Product"].str.upper()
df_production["Year"] = df_production["Year"].apply(int).apply(str)
df_production

       Year             Country         Value    Product
0      1970             ALBANIA           NaN  ALUMINIUM
1      1971             ALBANIA           NaN  ALUMINIUM
2      1972             ALBANIA           NaN  ALUMINIUM
3      1973             ALBANIA           NaN  ALUMINIUM
4      1974             ALBANIA           NaN  ALUMINIUM
...     ...                 ...           ...        ...
69530  2016  RUSSIAN FEDERATION  5.584791e+08  PETROLEUM
69531  2017  RUSSIAN FEDERATION  5.585467e+08  PETROLEUM
69532  2018  RUSSIAN FEDERATION  5.678849e+08  PETROLEUM
69533  2019  RUSSIAN FEDERATION  5.733888e+08  PETROLEUM
69534  2020  RUSSIAN FEDERATION  5.244042e+08  PETROLEUM

[69535 rows x 4 columns]

In [139]:
# Attach country code to df
countries_list = [{'reporterCode': 36, 'reporterDesc': 'Australia'},
 {'reporterCode': 40, 'reporterDesc': 'Austria'},
 {'reporterCode': 56, 'reporterDesc': 'Belgium'},
 {'reporterCode': 68, 'reporterDesc': 'Bolivia (Plurinational State of)'},
 {'reporterCode': 76, 'reporterDesc': 'Brazil'},
 {'reporterCode': 156, 'reporterDesc': 'China'},
 {'reporterCode': 251, 'reporterDesc': 'France'},
 {'reporterCode': 276, 'reporterDesc': 'Germany'},
 {'reporterCode': 320, 'reporterDesc': 'Guatemala'},
 {'reporterCode': 360, 'reporterDesc': 'Indonesia'},
 {'reporterCode': 380, 'reporterDesc': 'Italy'},
 {'reporterCode': 417, 'reporterDesc': 'Kyrgyzstan'},
 {'reporterCode': 504, 'reporterDesc': 'Morocco'},
 {'reporterCode': 528, 'reporterDesc': 'Netherlands'},
 {'reporterCode': 710, 'reporterDesc': 'South Africa'},
 {'reporterCode': 757, 'reporterDesc': 'Switzerland'},
 {'reporterCode': 764, 'reporterDesc': 'Thailand'},
 {'reporterCode': 792, 'reporterDesc': 'Türkiye'},
 {'reporterCode': 807, 'reporterDesc': 'North Macedonia'},
 {'reporterCode': 842, 'reporterDesc': 'USA'},
 {'reporterCode': 32, 'reporterDesc': 'Argentina'},
 {'reporterCode': 100, 'reporterDesc': 'Bulgaria'},
 {'reporterCode': 112, 'reporterDesc': 'Belarus'},
 {'reporterCode': 124, 'reporterDesc': 'Canada'},
 {'reporterCode': 144, 'reporterDesc': 'Sri Lanka'},
 {'reporterCode': 152, 'reporterDesc': 'Chile'},
 {'reporterCode': 170, 'reporterDesc': 'Colombia'},
 {'reporterCode': 196, 'reporterDesc': 'Cyprus'},
 {'reporterCode': 222, 'reporterDesc': 'El Salvador'},
 {'reporterCode': 233, 'reporterDesc': 'Estonia'},
 {'reporterCode': 300, 'reporterDesc': 'Greece'},
 {'reporterCode': 372, 'reporterDesc': 'Ireland'},
 {'reporterCode': 398, 'reporterDesc': 'Kazakhstan'},
 {'reporterCode': 404, 'reporterDesc': 'Kenya'},
 {'reporterCode': 410, 'reporterDesc': 'Rep. of Korea'},
 {'reporterCode': 440, 'reporterDesc': 'Lithuania'},
 {'reporterCode': 484, 'reporterDesc': 'Mexico'},
 {'reporterCode': 512, 'reporterDesc': 'Oman'},
 {'reporterCode': 516, 'reporterDesc': 'Namibia'},
 {'reporterCode': 604, 'reporterDesc': 'Peru'},
 {'reporterCode': 620, 'reporterDesc': 'Portugal'},
 {'reporterCode': 642, 'reporterDesc': 'Romania'},
 {'reporterCode': 643, 'reporterDesc': 'Russian Federation'},
 {'reporterCode': 682, 'reporterDesc': 'Saudi Arabia'},
 {'reporterCode': 686, 'reporterDesc': 'Senegal'},
 {'reporterCode': 699, 'reporterDesc': 'India'},
 {'reporterCode': 702, 'reporterDesc': 'Singapore'},
 {'reporterCode': 716, 'reporterDesc': 'Zimbabwe'},
 {'reporterCode': 724, 'reporterDesc': 'Spain'},
 {'reporterCode': 748, 'reporterDesc': 'Eswatini'},
 {'reporterCode': 752, 'reporterDesc': 'Sweden'},
 {'reporterCode': 780, 'reporterDesc': 'Trinidad and Tobago'},
 {'reporterCode': 784, 'reporterDesc': 'United Arab Emirates'},
 {'reporterCode': 788, 'reporterDesc': 'Tunisia'},
 {'reporterCode': 795, 'reporterDesc': 'Turkmenistan'},
 {'reporterCode': 804, 'reporterDesc': 'Ukraine'},
 {'reporterCode': 826, 'reporterDesc': 'United Kingdom'},
 {'reporterCode': 891, 'reporterDesc': 'Serbia and Montenegro (...2005)'},
 {'reporterCode': 31, 'reporterDesc': 'Azerbaijan'},
 {'reporterCode': 44, 'reporterDesc': 'Bahamas'},
 {'reporterCode': 120, 'reporterDesc': 'Cameroon'},
 {'reporterCode': 191, 'reporterDesc': 'Croatia'},
 {'reporterCode': 203, 'reporterDesc': 'Czechia'},
 {'reporterCode': 208, 'reporterDesc': 'Denmark'},
 {'reporterCode': 246, 'reporterDesc': 'Finland'},
 {'reporterCode': 266, 'reporterDesc': 'Gabon'},
 {'reporterCode': 268, 'reporterDesc': 'Georgia'},
 {'reporterCode': 344, 'reporterDesc': 'China, Hong Kong SAR'},
 {'reporterCode': 364, 'reporterDesc': 'Iran'},
 {'reporterCode': 392, 'reporterDesc': 'Japan'},
 {'reporterCode': 422, 'reporterDesc': 'Lebanon'},
 {'reporterCode': 480, 'reporterDesc': 'Mauritius'},
 {'reporterCode': 490, 'reporterDesc': 'Other Asia, nes'},
 {'reporterCode': 579, 'reporterDesc': 'Norway'},
 {'reporterCode': 703, 'reporterDesc': 'Slovakia'},
 {'reporterCode': 704, 'reporterDesc': 'Viet Nam'},
 {'reporterCode': 705, 'reporterDesc': 'Slovenia'},
 {'reporterCode': 862, 'reporterDesc': 'Venezuela'},
 {'reporterCode': 192, 'reporterDesc': 'Cuba'},
 {'reporterCode': 450, 'reporterDesc': 'Madagascar'},
 {'reporterCode': 608, 'reporterDesc': 'Philippines'},
 {'reporterCode': 736, 'reporterDesc': 'Sudan (...2011)'},
 {'reporterCode': 8, 'reporterDesc': 'Albania'},
 {'reporterCode': 72, 'reporterDesc': 'Botswana'},
 {'reporterCode': 348, 'reporterDesc': 'Hungary'},
 {'reporterCode': 384, 'reporterDesc': "Côte d'Ivoire"},
 {'reporterCode': 400, 'reporterDesc': 'Jordan'},
 {'reporterCode': 428, 'reporterDesc': 'Latvia'},
 {'reporterCode': 442, 'reporterDesc': 'Luxembourg'},
 {'reporterCode': 458, 'reporterDesc': 'Malaysia'},
 {'reporterCode': 470, 'reporterDesc': 'Malta'},
 {'reporterCode': 496, 'reporterDesc': 'Mongolia'},
 {'reporterCode': 508, 'reporterDesc': 'Mozambique'},
 {'reporterCode': 554, 'reporterDesc': 'New Zealand'},
 {'reporterCode': 562, 'reporterDesc': 'Niger'},
 {'reporterCode': 616, 'reporterDesc': 'Poland'},
 {'reporterCode': 634, 'reporterDesc': 'Qatar'},
 {'reporterCode': 659, 'reporterDesc': 'Saint Kitts and Nevis'},
 {'reporterCode': 740, 'reporterDesc': 'Suriname'},
 {'reporterCode': 818, 'reporterDesc': 'Egypt'},
 {'reporterCode': 894, 'reporterDesc': 'Zambia'},
 {'reporterCode': 51, 'reporterDesc': 'Armenia'},
 {'reporterCode': 340, 'reporterDesc': 'Honduras'},
 {'reporterCode': 466, 'reporterDesc': 'Mali'},
 {'reporterCode': 598, 'reporterDesc': 'Papua New Guinea'},
 {'reporterCode': 20, 'reporterDesc': 'Andorra'},
 {'reporterCode': 108, 'reporterDesc': 'Burundi'},
 {'reporterCode': 116, 'reporterDesc': 'Cambodia'},
 {'reporterCode': 140, 'reporterDesc': 'Central African Rep.'},
 {'reporterCode': 188, 'reporterDesc': 'Costa Rica'},
 {'reporterCode': 204, 'reporterDesc': 'Benin'},
 {'reporterCode': 218, 'reporterDesc': 'Ecuador'},
 {'reporterCode': 231, 'reporterDesc': 'Ethiopia'},
 {'reporterCode': 242, 'reporterDesc': 'Fiji'},
 {'reporterCode': 258, 'reporterDesc': 'French Polynesia'},
 {'reporterCode': 270, 'reporterDesc': 'Gambia'},
 {'reporterCode': 288, 'reporterDesc': 'Ghana'},
 {'reporterCode': 324, 'reporterDesc': 'Guinea'},
 {'reporterCode': 328, 'reporterDesc': 'Guyana'},
 {'reporterCode': 376, 'reporterDesc': 'Israel'},
 {'reporterCode': 414, 'reporterDesc': 'Kuwait'},
 {'reporterCode': 558, 'reporterDesc': 'Nicaragua'},
 {'reporterCode': 591, 'reporterDesc': 'Panama'},
 {'reporterCode': 762, 'reporterDesc': 'Tajikistan'},
 {'reporterCode': 834, 'reporterDesc': 'United Rep. of Tanzania'},
 {'reporterCode': 854, 'reporterDesc': 'Burkina Faso'},
 {'reporterCode': 858, 'reporterDesc': 'Uruguay'},
 {'reporterCode': 132, 'reporterDesc': 'Cabo Verde'},
 {'reporterCode': 48, 'reporterDesc': 'Bahrain'},
 {'reporterCode': 388, 'reporterDesc': 'Jamaica'},
 {'reporterCode': 478, 'reporterDesc': 'Mauritania'},
 {'reporterCode': 12, 'reporterDesc': 'Algeria'},
 {'reporterCode': 28, 'reporterDesc': 'Antigua and Barbuda'},
 {'reporterCode': 540, 'reporterDesc': 'New Caledonia'},
 {'reporterCode': 52, 'reporterDesc': 'Barbados'},
 {'reporterCode': 566, 'reporterDesc': 'Nigeria'},
 {'reporterCode': 800, 'reporterDesc': 'Uganda'},
 {'reporterCode': 426, 'reporterDesc': 'Lesotho'},
 {'reporterCode': 174, 'reporterDesc': 'Comoros'},
 {'reporterCode': 50, 'reporterDesc': 'Bangladesh'},
 {'reporterCode': 352, 'reporterDesc': 'Iceland'},
 {'reporterCode': 454, 'reporterDesc': 'Malawi'},


 {'reporterCode': 662, 'reporterDesc': 'Saint Lucia'},
 {'reporterCode': 214, 'reporterDesc': 'Dominican Rep.'},
 {'reporterCode': 882, 'reporterDesc': 'Samoa'},
 {'reporterCode': 646, 'reporterDesc': 'Rwanda'},
 {'reporterCode': 96, 'reporterDesc': 'Brunei Darussalam'},
 {'reporterCode': 776, 'reporterDesc': 'Tonga'},
 {'reporterCode': 600, 'reporterDesc': 'Paraguay'},
 {'reporterCode': 760, 'reporterDesc': 'Syria'},
 {'reporterCode': 498, 'reporterDesc': 'Rep. of Moldova'},
 {'reporterCode': 768, 'reporterDesc': 'Togo'},
 {'reporterCode': 90, 'reporterDesc': 'Solomon Isds'},
 {'reporterCode': 690, 'reporterDesc': 'Seychelles'},
 {'reporterCode': 70, 'reporterDesc': 'Bosnia Herzegovina'},
 {'reporterCode': 500, 'reporterDesc': 'Montserrat'},
 {'reporterCode': 586, 'reporterDesc': 'Pakistan'},
 {'reporterCode': 524, 'reporterDesc': 'Nepal'},
 {'reporterCode': 887, 'reporterDesc': 'Yemen'},
 {'reporterCode': 626, 'reporterDesc': 'Timor-Leste'},
 {'reporterCode': 798, 'reporterDesc': 'Tuvalu'},
 {'reporterCode': 64, 'reporterDesc': 'Bhutan'},
 {'reporterCode': 670, 'reporterDesc': 'Saint Vincent and the Grenadines'},
 {'reporterCode': 184, 'reporterDesc': 'Cook Isds'},
 {'reporterCode': 84, 'reporterDesc': 'Belize'},
 {'reporterCode': 530, 'reporterDesc': 'Netherlands Antilles (...2010)'},
 {'reporterCode': 688, 'reporterDesc': 'Serbia'},
 {'reporterCode': 548, 'reporterDesc': 'Vanuatu'},
 {'reporterCode': 275, 'reporterDesc': 'State of Palestine'},
 {'reporterCode': 434, 'reporterDesc': 'Libya'},
 {'reporterCode': 178, 'reporterDesc': 'Congo'},
 {'reporterCode': 24, 'reporterDesc': 'Angola'},
 {'reporterCode': 296, 'reporterDesc': 'Kiribati'},
 {'reporterCode': 499, 'reporterDesc': 'Montenegro'},
 {'reporterCode': 234, 'reporterDesc': 'Faeroe Isds'},
 {'reporterCode': 533, 'reporterDesc': 'Aruba'},
 {'reporterCode': 796, 'reporterDesc': 'Turks and Caicos Isds'},
 {'reporterCode': 104, 'reporterDesc': 'Myanmar'},
 {'reporterCode': 212, 'reporterDesc': 'Dominica'},
 {'reporterCode': 418, 'reporterDesc': "Lao People's Dem. Rep."},
 {'reporterCode': 304, 'reporterDesc': 'Greenland'},
 {'reporterCode': 368, 'reporterDesc': 'Iraq'},
 
 {'reporterCode': 729, 'reporterDesc': 'Sudan'},
 {'reporterCode': 446, 'reporterDesc': 'China, Macao SAR'},
 {'reporterCode': 308, 'reporterDesc': 'Grenada'},
 {'reporterCode': 585, 'reporterDesc': 'Palau'},
 {'reporterCode': 694, 'reporterDesc': 'Sierra Leone'},
 {'reporterCode': 60, 'reporterDesc': 'Bermuda'},
 {'reporterCode': 4, 'reporterDesc': 'Afghanistan'},
 {'reporterCode': 180, 'reporterDesc': 'Dem. Rep. of the Congo'},
 {'reporterCode': 860, 'reporterDesc': 'Uzbekistan'},
 {'reporterCode': 136, 'reporterDesc': 'Cayman Isds'},

 {'reporterCode': 430, 'reporterDesc': 'Liberia'},
 {'reporterCode': 891, 'reporterDesc': 'Serbia and montenegro'},
 {'reporterCode': 332, 'reporterDesc': 'HAITI'},
 {'reporterCode': 792, 'reporterDesc': 'TURKEY'},
 {'reporterCode': 890, 'reporterDesc': 'FMR YUGOSLAVIA'},
 {'reporterCode': 200, 'reporterDesc': 'CZECHOSLOVAKIA'},
#  {'reporterCode': , 'reporterDesc': 'FMR RHODESIA NYAS'},
 {'reporterCode': 748, 'reporterDesc': 'SWAZILAND'},
 {'reporterCode': 408, 'reporterDesc': "DEM. PEOPLE'S REP. OF KOREA"},
 {'reporterCode': 807, 'reporterDesc': "TFYR OF MACEDONIA"},
#  {'reporterCode': , 'reporterDesc': "OTHER AFRICA, NES"},
#  {'reporterCode': , 'reporterDesc': 'OTHER EUROPE, NES'},
 {'reporterCode': 232, 'reporterDesc': "ERITREA"},
 {'reporterCode': 148, 'reporterDesc': "CHAD"},
 {'reporterCode': 226, 'reporterDesc': "EQUATORIAL GUINEA"},
 {'reporterCode': 254, 'reporterDesc': "FRENCH GUIANA"},
 {'reporterCode': 736, 'reporterDesc': "SOUTH SUDAN"},
#  {'reporterCode': , 'reporterDesc': ""},
 ]
countries_list = [{"reporterCode": country["reporterCode"], "reporterDesc": country["reporterDesc"].upper()} for country in countries_list]
df_countries_code = pd.json_normalize(countries_list)

df_production = pd.merge(df_production, df_countries_code, how="left", left_on="Country", right_on="reporterDesc")
df_production

,Year,Country,Value,Product,reporterCode,reporterDesc
0,1970,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA
1,1971,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA
2,1972,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA
3,1973,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA
4,1974,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA
...,...,...,...,...,...,...
69530,2016,RUSSIAN FEDERATION,5.584791e+08,PETROLEUM,643.0,RUSSIAN FEDERATION
69531,2017,RUSSIAN FEDERATION,5.585467e+08,PETROLEUM,643.0,RUSSIAN FEDERATION
69532,2018,RUSSIAN FEDERATION,5.678849e+08,PETROLEUM,643.0,RUSSIAN FEDERATION
69533,2019,RUSSIAN FEDERATION,5.733888e+08,PETROLEUM,643.0,RUSSIAN FEDERATION
69534,2020,RUSSIAN FEDERATION,5.244042e+08,PETROLEUM,643.0,RUSSIAN FEDERATION

In [140]:
# DATA with no reporter code
df_production[df_production["reporterCode"].isna()]["Country"].unique()

array(['FMR RHODESIA NYAS', 'FMR DEM. REP. OF GERMANY',
       'FMR FED. REP. OF GERMANY', 'OTHER AFRICA, NES',
       'OTHER EUROPE, NES'], dtype=object)

In [141]:
df_production_summarized = df_production.groupby(["Year", "Product"])[["Value"]].sum().reset_index()
df_production_summarized.rename(columns={"Value": "Total_value_YearProduct"}, inplace=True)
df_production_summarized

      Year    Product  Total_value_YearProduct
0     1965  PETROLEUM             1.536734e+09
1     1966  PETROLEUM             1.670052e+09
2     1967  PETROLEUM             1.791711e+09
3     1968  PETROLEUM             1.956411e+09
4     1969  PETROLEUM             2.108113e+09
...    ...        ...                      ...
1543  2020   TITANIUM             1.275105e+07
1544  2020   TUNGSTEN             9.240800e+04
1545  2020    URANIUM             4.618300e+04
1546  2020       ZINC             1.143226e+07
1547  2020  ZIRCONIUM             1.204677e+06

[1548 rows x 3 columns]

### Let's left-join production and total value of production by (Year, Product)

In [142]:
df = pd.merge(df_production, df_production_summarized, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df

,Year,Country,Value,Product,reporterCode,reporterDesc,Total_value_YearProduct
0,1970,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,5.728000e+07
1,1971,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,6.098200e+07
2,1972,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,6.889700e+07
3,1973,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,7.508700e+07
4,1974,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,8.397400e+07
...,...,...,...,...,...,...,...
69530,2016,RUSSIAN FEDERATION,5.584791e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.314957e+09
69531,2017,RUSSIAN FEDERATION,5.585467e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.325061e+09
69532,2018,RUSSIAN FEDERATION,5.678849e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.425258e+09
69533,2019,RUSSIAN FEDERATION,5.733888e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.416795e+09
69534,2020,RUSSIAN FEDERATION,5.244042e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.104270e+09

In [143]:
df["Share in %"] = df["Value"] * 100 / df["Total_value_YearProduct"]
df["Share HHI Production"] = df["Share in %"] ** 2
df

,Year,Country,Value,Product,reporterCode,reporterDesc,Total_value_YearProduct,Share in %,Share HHI Production
0,1970,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,5.728000e+07,NaN,NaN
1,1971,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,6.098200e+07,NaN,NaN
2,1972,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,6.889700e+07,NaN,NaN
3,1973,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,7.508700e+07,NaN,NaN
4,1974,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,8.397400e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...
69530,2016,RUSSIAN FEDERATION,5.584791e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.314957e+09,12.942865,167.517763
69531,2017,RUSSIAN FEDERATION,5.585467e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.325061e+09,12.914192,166.776366
69532,2018,RUSSIAN FEDERATION,5.678849e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.425258e+09,12.832808,164.680965
69533,2019,RUSSIAN FEDERATION,5.733888e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.416795e+09,12.982013,168.532654
69534,2020,RUSSIAN FEDERATION,5.244042e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.104270e+09,12.777041,163.252777

### Sum the "Share HHI Production" by (Year, Product) and you get the HHI index :)

In [144]:
df_hhi_production = df.groupby(["Year", "Product"])[["Share HHI Production"]].sum().reset_index()
df_hhi_production.rename(columns={"Share HHI Production": "HHI_production"}, inplace=True)
df_hhi_production = pd.merge(df, df_hhi_production, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df_hhi_production
# CONSIDERATIONS
# - Currently the HHI value is pasted to the row even if the production is null. Shall we replace by NANs if production is null?

,Year,Country,Value,Product,reporterCode,reporterDesc,Total_value_YearProduct,Share in %,Share HHI Production,HHI_production
0,1970,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,5.728000e+07,NaN,NaN,1026.755380
1,1971,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,6.098200e+07,NaN,NaN,1132.922206
2,1972,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,6.889700e+07,NaN,NaN,1128.647391
3,1973,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,7.508700e+07,NaN,NaN,1185.642408
4,1974,ALBANIA,NaN,ALUMINIUM,8.0,ALBANIA,8.397400e+07,NaN,NaN,1223.009237
...,...,...,...,...,...,...,...,...,...,...
69530,2016,RUSSIAN FEDERATION,5.584791e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.314957e+09,12.942865,167.517763,696.412478
69531,2017,RUSSIAN FEDERATION,5.585467e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.325061e+09,12.914192,166.776366,698.685072
69532,2018,RUSSIAN FEDERATION,5.678849e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.425258e+09,12.832808,164.680965,742.966401
69533,2019,RUSSIAN FEDERATION,5.733888e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.416795e+09,12.982013,168.532654,784.620352
69534,2020,RUSSIAN FEDERATION,5.244042e+08,PETROLEUM,643.0,RUSSIAN FEDERATION,4.104270e+09,12.777041,163.252777,799.455587

In [151]:
df_hhi_production.to_csv("../../data/hhi_data/df_hhi_production.csv", index=False)

## Now HHI for exports

In [59]:
df_exports = pd.read_csv("../../data/exports/exports_consolidated_file.csv")
df_exports.rename(columns={"period": "Year"}, inplace=True)
df_exports

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,False,NaN,False,NaN,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,False,NaN,False,NaN,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,False,NaN,False,NaN,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,False,1165629.0,False,0.0,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,False,0.0,False,0.0,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,False,0.0,False,0.0,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,False,0.0,False,0.0,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,False,0.0,False,0.0,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,False,0.0,False,0.0,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,False,0.0,False,0.0,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM

In [60]:
df_exports_summarized = df_exports.groupby(["Year", "Product"])[["netWgt"]].sum().reset_index()
df_exports_summarized.rename(columns={"netWgt": "Total_netWgt_YearProduct"}, inplace=True)
df_exports_summarized

     Year    Product  Total_netWgt_YearProduct
0    2000   ANTIMONY              6.013568e+06
1    2000   ASBESTOS              6.940013e+08
2    2000    BARYTES              3.459887e+09
3    2000    BISMUTH              1.172789e+07
4    2000    CADMIUM              1.518330e+07
..    ...        ...                       ...
611  2020   TITANIUM              4.017014e+09
612  2020   TUNGSTEN              1.234453e+07
613  2020    URANIUM              6.182528e+06
614  2020       ZINC              9.635898e+09
615  2020  ZIRCONIUM              5.196047e+08

[616 rows x 3 columns]

### Let's left-join production and total value of production by (Year, Product)

In [61]:
df_e = pd.merge(df_exports, df_exports_summarized, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df_e

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,NaN,False,NaN,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY,6.013568e+06
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,NaN,False,NaN,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY,6.013568e+06
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,NaN,False,NaN,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY,6.013568e+06
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,1165629.0,False,0.0,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY,6.013568e+06
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,0.0,False,0.0,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY,6.013568e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,0.0,False,0.0,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM,5.196047e+08
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,0.0,False,0.0,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM,5.196047e+08
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,0.0,False,0.0,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM,5.196047e+08
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,0.0,False,0.0,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM,5.196047e+08
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,0.0,False,0.0,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM,5.196047e+08

In [62]:
df_e["Share in %"] = df_e["netWgt"] * 100 / df_e["Total_netWgt_YearProduct"]
df_e["Share HHI Exports"] = df_e["Share in %"] ** 2
df_e

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct,Share in %,Share HHI Exports
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,NaN,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY,6.013568e+06,39.192489,1536.051224
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,NaN,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY,6.013568e+06,NaN,NaN
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,NaN,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY,6.013568e+06,1.330325,1.769765
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,0.0,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY,6.013568e+06,18.809499,353.797245
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,0.0,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY,6.013568e+06,0.432356,0.186931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,0.0,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.017397,0.000303
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,0.0,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM,5.196047e+08,3.075473,9.458533
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,0.0,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM,5.196047e+08,0.235409,0.055417
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,0.0,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.147227,0.021676
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,0.0,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM,5.196047e+08,4.038193,16.307000

### Sum the "Share HHI Exports" by (Year, Product) and you get the HHI index :)

In [63]:
df_hhi_exports = df_e.groupby(["Year", "Product"])[["Share HHI Exports"]].sum().reset_index()
df_hhi_exports.rename(columns={"Share HHI Exports": "HHI_exports"}, inplace=True)
df_hhi_exports = pd.merge(df_e, df_hhi_exports, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df_hhi_exports

# SAME: Currently the HHI value is pasted to the row even if the production is null. Shall we replace by NANs if production is null?

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct,Share in %,Share HHI Exports,HHI_exports
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY,6.013568e+06,39.192489,1536.051224,2430.155539
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY,6.013568e+06,NaN,NaN,2430.155539
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY,6.013568e+06,1.330325,1.769765,2430.155539
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY,6.013568e+06,18.809499,353.797245,2430.155539
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY,6.013568e+06,0.432356,0.186931,2430.155539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.017397,0.000303,1210.445136
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM,5.196047e+08,3.075473,9.458533,1210.445136
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM,5.196047e+08,0.235409,0.055417,1210.445136
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.147227,0.021676,1210.445136
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM,5.196047e+08,4.038193,16.307000,1210.445136

In [64]:
df_hhi_exports.to_csv("../../data/hhi_data/df_hhi_exports.csv", index=False)

## Now join data from both HHI dataframes

In [167]:
df_hhi_production = pd.read_csv("../../data/hhi_data/df_hhi_production.csv")
df_hhi_exports = pd.read_csv("../../data/hhi_data/df_hhi_exports.csv")

In [168]:
df_hhi_production.loc[df_hhi_production["reporterCode"].notnull(), 'reporterCode'] = df_hhi_production.loc[df_hhi_production['reporterCode'].notnull(), 'reporterCode'].apply(int).apply(str)
df_hhi_production.rename(columns={"Share in %": "Share in % (production)"}, inplace=True)
df_hhi_production

,Year,Country,Value,Product,reporterCode,reporterDesc,Total_value_YearProduct,Share in % (production),Share HHI Production,HHI_production
0,1970,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,5.728000e+07,NaN,NaN,1026.755380
1,1971,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,6.098200e+07,NaN,NaN,1132.922206
2,1972,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,6.889700e+07,NaN,NaN,1128.647391
3,1973,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,7.508700e+07,NaN,NaN,1185.642408
4,1974,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,8.397400e+07,NaN,NaN,1223.009237
...,...,...,...,...,...,...,...,...,...,...
69530,2016,RUSSIAN FEDERATION,5.584791e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.314957e+09,12.942865,167.517763,696.412478
69531,2017,RUSSIAN FEDERATION,5.585467e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.325061e+09,12.914192,166.776366,698.685072
69532,2018,RUSSIAN FEDERATION,5.678849e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.425258e+09,12.832808,164.680965,742.966401
69533,2019,RUSSIAN FEDERATION,5.733888e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.416795e+09,12.982013,168.532654,784.620352
69534,2020,RUSSIAN FEDERATION,5.244042e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.104270e+09,12.777041,163.252777,799.455587

In [169]:
df_hhi_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69535 entries, 0 to 69534
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     69535 non-null  int64
 1   Country                  69535 non-null  object
 2   Value                    44275 non-null  float64
 3   Product                  69535 non-null  object
 4   reporterCode             67139 non-null  object
 5   reporterDesc             67139 non-null  object
 6   Total_value_YearProduct  69535 non-null  float64
 7   Share in % (production)  44234 non-null  float64
 8   Share HHI Production     44234 non-null  float64
 9   HHI_production           69535 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 5.3+ MB

In [170]:
df_hhi_exports.loc[df_hhi_exports["reporterCode"].notnull(), 'reporterCode'] = df_hhi_exports.loc[df_hhi_exports['reporterCode'].notnull(), 'reporterCode'].apply(int).apply(str)
df_hhi_exports.rename(columns={"Share in %": "Share in % (exports)"}, inplace=True)
df_hhi_exports

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct,Share in % (exports),Share HHI Exports,HHI_exports
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY,6.013568e+06,39.192489,1536.051224,2430.155539
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY,6.013568e+06,NaN,NaN,2430.155539
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY,6.013568e+06,1.330325,1.769765,2430.155539
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY,6.013568e+06,18.809499,353.797245,2430.155539
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY,6.013568e+06,0.432356,0.186931,2430.155539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.017397,0.000303,1210.445136
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM,5.196047e+08,3.075473,9.458533,1210.445136
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM,5.196047e+08,0.235409,0.055417,1210.445136
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.147227,0.021676,1210.445136
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM,5.196047e+08,4.038193,16.307000,1210.445136

In [171]:
df_hhi_exports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34172 entries, 0 to 34171
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  34172 non-null  object
 1   freqCode                  34172 non-null  object
 2   refPeriodId               34172 non-null  int64
 3   refYear                   34172 non-null  int64
 4   refMonth                  34172 non-null  int64
 5   Year                      34172 non-null  int64
 6   reporterCode              34172 non-null  object
 7   reporterISO               34172 non-null  object
 8   reporterDesc              34172 non-null  object
 9   flowCode                  34172 non-null  object
 10  flowDesc                  34172 non-null  object
 11  partnerCode               34172 non-null  int64
 12  partnerISO                34172 non-null  object
 13  partnerDesc               34172 non-null  object
 14  partner2Code              34172 non-null  int64
 15  partner2ISO               34172 non-null  object
 16  partner2Desc              34172 non-null  object
 17  classificationCode        34172 non-null  object
 18  classificationSearchCode  34172 non-null  object
 19  isOriginalClassification  34172 non-null  bool
 20  cmdCode                   34172 non-null  int64
 21  cmdDesc                   34172 non-null  object
 22  aggrLevel                 34172 non-null  int64
 23  isLeaf                    34172 non-null  bool
 24  customsCode               34172 non-null  object
 25  customsDesc               34172 non-null  object
 26  mosCode                   34172 non-null  int64
 27  motCode                   34172 non-null  int64
 28  motDesc                   34172 non-null  object
 29  qtyUnitCode               34172 non-null  int64
 30  qtyUnitAbbr               32222 non-null  object
 31  qty                       33283 non-null  float64
 32  isQtyEstimated            34172 non-null  bool
 33  altQtyUnitCode            34172 non-null  int64
 34  altQtyUnitAbbr            10737 non-null  object
 35  altQty                    14097 non-null  float64
 36  isAltQtyEstimated         34172 non-null  bool
 37  netWgt                    33061 non-null  float64
 38  isNetWgtEstimated         34172 non-null  bool
 39  grossWgt                  10721 non-null  float64
 40  isGrossWgtEstimated       34172 non-null  bool
 41  cifvalue                  7529 non-null   float64
 42  fobvalue                  34172 non-null  float64
 43  primaryValue              34172 non-null  float64
 44  legacyEstimationFlag      34172 non-null  int64
 45  isReported                34172 non-null  bool
 46  isAggregate               34172 non-null  bool
 47  Product                   34172 non-null  object
 48  Total_netWgt_YearProduct  34172 non-null  float64
 49  Share in % (exports)      33061 non-null  float64
 50  Share HHI Exports         33061 non-null  float64
 51  HHI_exports               34172 non-null  float64
dtypes: bool(8), float64(11), int64(13), object(20)
memory usage: 11.7+ MB

In [172]:
df_hhi_master = pd.merge(df_hhi_production, df_hhi_exports, how="outer", left_on=["Year", "reporterCode", "Product"], right_on=["Year", "reporterCode", "Product"])
df_hhi_master

,Year,Country,Value,Product,reporterCode,reporterDesc_x,Total_value_YearProduct,Share in % (production),Share HHI Production,HHI_production,...,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Total_netWgt_YearProduct,Share in % (exports),Share HHI Exports,HHI_exports
0,1970,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,57280000.0,NaN,NaN,1026.755380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1971,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,60982000.0,NaN,NaN,1132.922206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1972,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,68897000.0,NaN,NaN,1128.647391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1973,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,75087000.0,NaN,NaN,1185.642408,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1974,ALBANIA,NaN,ALUMINIUM,8,ALBANIA,83974000.0,NaN,NaN,1223.009237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87512,2020,NaN,NaN,ZIRCONIUM,757,NaN,NaN,NaN,NaN,NaN,...,0.0,266.514,266.514,6.0,False,True,5.196047e+08,0.000005,2.314909e-11,1210.445136
87513,2020,NaN,NaN,ZIRCONIUM,784,NaN,NaN,NaN,NaN,NaN,...,0.0,1421075.128,1421075.128,0.0,False,True,5.196047e+08,0.159325,2.538457e-02,1210.445136
87514,2020,NaN,NaN,ZIRCONIUM,792,NaN,NaN,NaN,NaN,NaN,...,0.0,161170.000,161170.000,0.0,False,True,5.196047e+08,0.017397,3.026514e-04,1210.445136
87515,2020,NaN,NaN,ZIRCONIUM,826,NaN,NaN,NaN,NaN,NaN,...,0.0,3896642.179,3896642.179,0.0,False,True,5.196047e+08,0.235409,5.541738e-02,1210.445136
87516,2020,NaN,NaN,ZIRCONIUM,834,NaN,NaN,NaN,NaN,NaN,...,0.0,229500.000,229500.000,0.0,False,True,5.196047e+08,0.147227,2.167588e-02,1210.445136

In [178]:
# Data that contains HHI production and Exports
df_hhi_master[~(df_hhi_master["HHI_exports"].isna()) & ~(df_hhi_master["HHI_production"].isna())]

,Year,Country,Value,Product,reporterCode,reporterDesc_x,Total_value_YearProduct,Share in % (production),Share HHI Production,HHI_production,...,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Total_netWgt_YearProduct,Share in % (exports),Share HHI Exports,HHI_exports
2274,2000,AUSTRALIA,2.200000e+03,ANTIMONY,36,AUSTRALIA,1.175320e+05,1.871831,3.503750,7181.517035,...,NaN,1.624825e+06,1.624825e+06,0.0,False,False,6.013568e+06,39.192489,1.536051e+03,2430.155539
2275,2001,AUSTRALIA,1.800000e+03,ANTIMONY,36,AUSTRALIA,1.223850e+05,1.470768,2.163160,6367.263956,...,NaN,5.559150e+05,5.559150e+05,0.0,False,False,5.886933e+06,14.092228,1.985909e+02,2468.545677
2276,2002,AUSTRALIA,1.838000e+03,ANTIMONY,36,AUSTRALIA,1.426690e+05,1.288297,1.659708,7295.634830,...,NaN,1.390594e+06,1.390594e+06,0.0,True,False,8.040744e+07,2.213725,4.900580e+00,5416.885735
2279,2005,AUSTRALIA,1.920000e+02,ANTIMONY,36,AUSTRALIA,1.741300e+05,0.110262,0.012158,7596.228658,...,NaN,2.959700e+04,2.959700e+04,0.0,True,False,1.574086e+07,0.000769,5.908995e-07,2720.777495
2280,2006,AUSTRALIA,2.310000e+02,ANTIMONY,36,AUSTRALIA,1.764900e+05,0.130886,0.017131,7856.459618,...,NaN,1.116655e+06,1.116655e+06,0.0,True,False,1.474732e+07,1.575886,2.483416e+00,2986.390115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69784,2016,RUSSIAN FEDERATION,5.584791e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.314957e+09,12.942865,167.517763,696.412478,...,NaN,7.371230e+10,7.371230e+10,0.0,False,True,1.508749e+12,16.892819,2.853673e+02,1154.313467
69785,2017,RUSSIAN FEDERATION,5.585467e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.325061e+09,12.914192,166.776366,698.685072,...,NaN,9.337726e+10,9.337726e+10,0.0,False,True,9.716810e+11,NaN,NaN,730.396645
69786,2018,RUSSIAN FEDERATION,5.678849e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.425258e+09,12.832808,164.680965,742.966401,...,NaN,1.292011e+11,1.292011e+11,0.0,False,True,1.250927e+12,20.829205,4.338558e+02,978.296637
69787,2019,RUSSIAN FEDERATION,5.733888e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.416795e+09,12.982013,168.532654,784.620352,...,NaN,1.222286e+11,1.222286e+11,0.0,False,True,1.261201e+12,21.342775,4.555140e+02,1290.653310
69788,2020,RUSSIAN FEDERATION,5.244042e+08,PETROLEUM,643,RUSSIAN FEDERATION,4.104270e+09,12.777041,163.252777,799.455587,...,0.0,7.256429e+10,7.256429e+10,6.0,False,True,1.124761e+12,21.264102,4.521620e+02,1156.375952

In [ ]:
df_hhi_exports[(df_hhi_exports["Year"]==2016) & (df_hhi_exports["reporterDesc"] == "China")] # ALUMINUM DOES NOT EXIST FOR CHINA,2016

In [192]:
df_hhi_exports[(df_hhi_exports["Year"]==2009) & (df_hhi_exports["reporterDesc"] == "Croatia")] # ALUMINUM DOES NOT EXIST FOR CROATIA,2009

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct,Share in % (exports),Share HHI Exports,HHI_exports
13083,C,A,20090101,2009,52,2009,191,HRV,Croatia,X,...,9777.0,9777.0,0,True,False,BARYTES,3.581624e+09,1.423935e-04,2.027591e-08,3146.684482
13286,C,A,20090101,2009,52,2009,191,HRV,Croatia,X,...,10117.0,10117.0,0,True,False,COAL,9.556307e+11,5.347254e-08,2.859312e-15,1727.556377
13491,C,A,20090101,2009,52,2009,191,HRV,Croatia,X,...,3473804.0,3473804.0,0,True,False,GOLD,1.910489e+07,7.327965e-04,5.369907e-07,3611.730996
13600,C,A,20090101,2009,52,2009,191,HRV,Croatia,X,...,4581.0,4581.0,0,True,False,GRAPHITE,5.681944e+08,1.839159e-04,3.382506e-08,6551.476056
14087,C,A,20090101,2009,52,2009,191,HRV,Croatia,X,...,437505.0,437505.0,0,True,False,NATURAL GAS,1.302709e+11,5.712951e-04,3.263781e-07,1253.800340

In [ ]:
df_hhi_master[(df_hhi_master["Year"]==2016) & (df_hhi_master["Country"] == "CHINA")]

In [191]:
df_hhi_master[(df_hhi_master["Year"]==2009) & (df_hhi_master["Country"] == "CROATIA")]

,Year,Country,Value,Product,reporterCode,reporterDesc_x,Total_value_YearProduct,Share in % (production),Share HHI Production,HHI_production,...,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Total_netWgt_YearProduct,Share in % (exports),Share HHI Exports,HHI_exports
294,2009,CROATIA,500.0,ALUMINIUM,191,CROATIA,197735840.0,0.000253,6.393950e-08,1713.133234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6720,2009,CROATIA,NaN,BARYTES,191,CROATIA,7662051.0,NaN,NaN,2359.851398,...,NaN,9777.0,9777.0,0.0,True,False,3.581624e+09,0.000142,2.027591e-08,3146.684482
47963,2009,CROATIA,NaN,SILVER,191,CROATIA,22322463.0,NaN,NaN,981.801726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
df_hhi_master.to_csv("../../data/hhi_data/df_hhi_master.csv", index=False)