In [1]:
import pandas as pd

## Now HHI for production

In [2]:
df_production = pd.read_csv("../../data/Production_one_file.csv")
df_production

         Year             Country         Value    Product
0      1970.0             Albania           NaN  Aluminium
1      1971.0             Albania           NaN  Aluminium
2      1972.0             Albania           NaN  Aluminium
3      1973.0             Albania           NaN  Aluminium
4      1974.0             Albania           NaN  Aluminium
...       ...                 ...           ...        ...
69530  2016.0  Russian Federation  5.584791e+08  Petroleum
69531  2017.0  Russian Federation  5.585467e+08  Petroleum
69532  2018.0  Russian Federation  5.678849e+08  Petroleum
69533  2019.0  Russian Federation  5.733888e+08  Petroleum
69534  2020.0  Russian Federation  5.244042e+08  Petroleum

[69535 rows x 4 columns]

In [7]:
df_production_summarized = df_production.groupby(["Year", "Product"])[["Value"]].sum().reset_index()
df_production_summarized.rename(columns={"Value": "Total_value_YearProduct"}, inplace=True)
df_production_summarized

        Year    Product  Total_value_YearProduct
0     1965.0  Petroleum             1.536734e+09
1     1966.0  Petroleum             1.670052e+09
2     1967.0  Petroleum             1.791711e+09
3     1968.0  Petroleum             1.956411e+09
4     1969.0  Petroleum             2.108113e+09
...      ...        ...                      ...
1543  2020.0   Titanium             1.275105e+07
1544  2020.0   Tungsten             9.240800e+04
1545  2020.0    Uranium             4.618300e+04
1546  2020.0       Zinc             1.143226e+07
1547  2020.0  Zirconium             1.204677e+06

[1548 rows x 3 columns]

### Let's left-join production and total value of production by (Year, Product)

In [27]:
df = pd.merge(df_production, df_production_summarized, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df

,Year,Country,Value,Product,Total_value_YearProduct
0,1970.0,Albania,NaN,Aluminium,5.728000e+07
1,1971.0,Albania,NaN,Aluminium,6.098200e+07
2,1972.0,Albania,NaN,Aluminium,6.889700e+07
3,1973.0,Albania,NaN,Aluminium,7.508700e+07
4,1974.0,Albania,NaN,Aluminium,8.397400e+07
...,...,...,...,...,...
69530,2016.0,Russian Federation,5.584791e+08,Petroleum,4.314957e+09
69531,2017.0,Russian Federation,5.585467e+08,Petroleum,4.325061e+09
69532,2018.0,Russian Federation,5.678849e+08,Petroleum,4.425258e+09
69533,2019.0,Russian Federation,5.733888e+08,Petroleum,4.416795e+09
69534,2020.0,Russian Federation,5.244042e+08,Petroleum,4.104270e+09

In [28]:
df["Share in %"] = df["Value"] * 100 / df["Total_value_YearProduct"]
df["Share HHI Production"] = df["Share in %"] ** 2
df

,Year,Country,Value,Product,Total_value_YearProduct,Share in %,Share HHI Production
0,1970.0,Albania,NaN,Aluminium,5.728000e+07,NaN,NaN
1,1971.0,Albania,NaN,Aluminium,6.098200e+07,NaN,NaN
2,1972.0,Albania,NaN,Aluminium,6.889700e+07,NaN,NaN
3,1973.0,Albania,NaN,Aluminium,7.508700e+07,NaN,NaN
4,1974.0,Albania,NaN,Aluminium,8.397400e+07,NaN,NaN
...,...,...,...,...,...,...,...
69530,2016.0,Russian Federation,5.584791e+08,Petroleum,4.314957e+09,12.942865,167.517763
69531,2017.0,Russian Federation,5.585467e+08,Petroleum,4.325061e+09,12.914192,166.776366
69532,2018.0,Russian Federation,5.678849e+08,Petroleum,4.425258e+09,12.832808,164.680965
69533,2019.0,Russian Federation,5.733888e+08,Petroleum,4.416795e+09,12.982013,168.532654
69534,2020.0,Russian Federation,5.244042e+08,Petroleum,4.104270e+09,12.777041,163.252777

### Sum the "Share HHI Production" by (Year, Product) and you get the HHI index :)

In [29]:
df_hhi_production = df.groupby(["Year", "Product"])[["Share HHI Production"]].sum().reset_index()
df_hhi_production.rename(columns={"Share HHI Production": "HHI_production"}, inplace=True)
df_hhi_production = pd.merge(df, df_hhi_production, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df_hhi_production

,Year,Country,Value,Product,Total_value_YearProduct,Share in %,Share HHI Production,HHI_production
0,1970.0,Albania,NaN,Aluminium,5.728000e+07,NaN,NaN,1026.755380
1,1971.0,Albania,NaN,Aluminium,6.098200e+07,NaN,NaN,1132.922206
2,1972.0,Albania,NaN,Aluminium,6.889700e+07,NaN,NaN,1128.647391
3,1973.0,Albania,NaN,Aluminium,7.508700e+07,NaN,NaN,1185.642408
4,1974.0,Albania,NaN,Aluminium,8.397400e+07,NaN,NaN,1223.009237
...,...,...,...,...,...,...,...,...
69530,2016.0,Russian Federation,5.584791e+08,Petroleum,4.314957e+09,12.942865,167.517763,696.412478
69531,2017.0,Russian Federation,5.585467e+08,Petroleum,4.325061e+09,12.914192,166.776366,698.685072
69532,2018.0,Russian Federation,5.678849e+08,Petroleum,4.425258e+09,12.832808,164.680965,742.966401
69533,2019.0,Russian Federation,5.733888e+08,Petroleum,4.416795e+09,12.982013,168.532654,784.620352
69534,2020.0,Russian Federation,5.244042e+08,Petroleum,4.104270e+09,12.777041,163.252777,799.455587

In [45]:
df_hhi_production.to_csv("../../data/hhi_data/df_hhi_production.csv", index=False)

## Now HHI for exports

In [59]:
df_exports = pd.read_csv("../../data/exports/exports_consolidated_file.csv")
df_exports.rename(columns={"period": "Year"}, inplace=True)
df_exports

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,False,NaN,False,NaN,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,False,NaN,False,NaN,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,False,NaN,False,NaN,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,False,1165629.0,False,0.0,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,False,0.0,False,0.0,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,False,0.0,False,0.0,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,False,0.0,False,0.0,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,False,0.0,False,0.0,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,False,0.0,False,0.0,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,False,0.0,False,0.0,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM

In [60]:
df_exports_summarized = df_exports.groupby(["Year", "Product"])[["netWgt"]].sum().reset_index()
df_exports_summarized.rename(columns={"netWgt": "Total_netWgt_YearProduct"}, inplace=True)
df_exports_summarized

     Year    Product  Total_netWgt_YearProduct
0    2000   ANTIMONY              6.013568e+06
1    2000   ASBESTOS              6.940013e+08
2    2000    BARYTES              3.459887e+09
3    2000    BISMUTH              1.172789e+07
4    2000    CADMIUM              1.518330e+07
..    ...        ...                       ...
611  2020   TITANIUM              4.017014e+09
612  2020   TUNGSTEN              1.234453e+07
613  2020    URANIUM              6.182528e+06
614  2020       ZINC              9.635898e+09
615  2020  ZIRCONIUM              5.196047e+08

[616 rows x 3 columns]

### Let's left-join production and total value of production by (Year, Product)

In [61]:
df_e = pd.merge(df_exports, df_exports_summarized, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df_e

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,NaN,False,NaN,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY,6.013568e+06
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,NaN,False,NaN,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY,6.013568e+06
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,NaN,False,NaN,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY,6.013568e+06
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,1165629.0,False,0.0,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY,6.013568e+06
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,0.0,False,0.0,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY,6.013568e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,0.0,False,0.0,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM,5.196047e+08
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,0.0,False,0.0,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM,5.196047e+08
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,0.0,False,0.0,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM,5.196047e+08
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,0.0,False,0.0,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM,5.196047e+08
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,0.0,False,0.0,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM,5.196047e+08

In [62]:
df_e["Share in %"] = df_e["netWgt"] * 100 / df_e["Total_netWgt_YearProduct"]
df_e["Share HHI Exports"] = df_e["Share in %"] ** 2
df_e

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct,Share in %,Share HHI Exports
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,NaN,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY,6.013568e+06,39.192489,1536.051224
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,NaN,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY,6.013568e+06,NaN,NaN
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,NaN,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY,6.013568e+06,1.330325,1.769765
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,0.0,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY,6.013568e+06,18.809499,353.797245
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,0.0,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY,6.013568e+06,0.432356,0.186931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,0.0,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.017397,0.000303
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,0.0,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM,5.196047e+08,3.075473,9.458533
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,0.0,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM,5.196047e+08,0.235409,0.055417
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,0.0,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.147227,0.021676
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,0.0,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM,5.196047e+08,4.038193,16.307000

### Sum the "Share HHI Exports" by (Year, Product) and you get the HHI index :)

In [63]:
df_hhi_exports = df_e.groupby(["Year", "Product"])[["Share HHI Exports"]].sum().reset_index()
df_hhi_exports.rename(columns={"Share HHI Exports": "HHI_exports"}, inplace=True)
df_hhi_exports = pd.merge(df_e, df_hhi_exports, how="left", left_on=["Year", "Product"], right_on=["Year", "Product"])
df_hhi_exports

,typeCode,freqCode,refPeriodId,refYear,refMonth,Year,reporterCode,reporterISO,reporterDesc,flowCode,...,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate,Product,Total_netWgt_YearProduct,Share in %,Share HHI Exports,HHI_exports
0,C,A,20000101,2000,52,2000,36,AUS,Australia,X,...,1.624825e+06,1.624825e+06,0,False,False,ANTIMONY,6.013568e+06,39.192489,1536.051224,2430.155539
1,C,A,20000101,2000,52,2000,40,AUT,Austria,X,...,1.340000e+02,1.340000e+02,0,False,False,ANTIMONY,6.013568e+06,NaN,NaN,2430.155539
2,C,A,20000101,2000,52,2000,56,BEL,Belgium,X,...,3.021700e+04,3.021700e+04,0,False,False,ANTIMONY,6.013568e+06,1.330325,1.769765,2430.155539
3,C,A,20000101,2000,52,2000,68,BOL,Bolivia (Plurinational State of),X,...,6.308590e+05,6.308590e+05,0,False,True,ANTIMONY,6.013568e+06,18.809499,353.797245,2430.155539
4,C,A,20000101,2000,52,2000,76,BRA,Brazil,X,...,2.485000e+03,2.485000e+03,0,False,True,ANTIMONY,6.013568e+06,0.432356,0.186931,2430.155539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34167,C,A,20200101,2020,52,2020,792,TUR,Türkiye,X,...,1.611700e+05,1.611700e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.017397,0.000303,1210.445136
34168,C,A,20200101,2020,52,2020,804,UKR,Ukraine,X,...,2.064597e+07,2.064597e+07,0,False,True,ZIRCONIUM,5.196047e+08,3.075473,9.458533,1210.445136
34169,C,A,20200101,2020,52,2020,826,GBR,United Kingdom,X,...,3.896642e+06,3.896642e+06,0,False,True,ZIRCONIUM,5.196047e+08,0.235409,0.055417,1210.445136
34170,C,A,20200101,2020,52,2020,834,TZA,United Rep. of Tanzania,X,...,2.295000e+05,2.295000e+05,0,False,True,ZIRCONIUM,5.196047e+08,0.147227,0.021676,1210.445136
34171,C,A,20200101,2020,52,2020,842,USA,USA,X,...,3.562715e+07,3.562715e+07,0,False,True,ZIRCONIUM,5.196047e+08,4.038193,16.307000,1210.445136

In [64]:
df_hhi_exports.to_csv("../../data/hhi_data/df_hhi_exports.csv", index=False)